<div>
  <a ui-sref="home">Retour</a>
  <button class="btn btn-success"
          ng-click="productsListCtrl.toggleForm()">
    Ajouter
  </button>

  <div ng-show="productsListCtrl.showForm">
    <form ng-submit="productsListCtrl
                      .addProduct(productsListCtrl.product)">
      <div class="form-group">
        <label for="name">Nom:</label>
        <input type="text" class="form-control" name="name" id="name"
               ng-model="productsListCtrl.product.name">
      </div>

      <div class="form-group">
        <label for="price">Prix:</label>
        <input type="text" class="form-control" name="price" id="price"
               ng-model="productsListCtrl.product.price">
      </div>

      <div class="form-group">
        <label for="qty">Quantité:</label>
        <input type="number" class="form-control" name="qty" id="qty"
               ng-model="productsListCtrl.product.quantity">
      </div>

      <button type="submit" class="btn btn-info">Envoyer</button>
    </form>
  </div>

  <h3>products</h3>
  <ul>
    <li ng-repeat="product in productsListCtrl.products">
      <a ui-sref="showProduct({ productId: product._id })">
        <ul>
          <li>Nom:{{ product.name }}</li>
          <li>Prix:{{ product.price }}</li>
          <li>Quantité:{{ product.quantity }}</li>
        </ul>
      </a>
    </li>
  </ul>
</div>