<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% if(messages.errors) { %>
<div class="alert alert-danger">
    <%= messages.errors %>
</div>
<% } %>

<% if(messages.success) { %>
<div class="alert alert-success">
    <%= messages.success %>
</div>
<% } %>

<div class="page-header">
    <h3>Se Connecter</h3>
</div>
<form method="POST" class="form-horizontal"
    action="/auth/login">
    <input type="hidden" name="_csrf"/>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-7">
            <input type="email" name="email" id="email" placeholder="Email"
                   autofocus="autofocus" required="required"
                   class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">
            Mot de Passe
        </label>
        <div class="col-sm-7">
            <input type="password" name="password" id="password"
                   placeholder="Password" required="required"
                   class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button type="submit" class="col-sm-3 btn btn-primary"><i
                        class="fa fa-user"></i>Connecter
            </button>
            <a href="/forgot" class="btn btn-link">Mot de Passe Oublié?</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <hr/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <a href="/auth/facebook"
               class="btn btn-block btn-facebook btn-social">
                <i class="fa fa-facebook"></i>
                Se Conneter Avec Facebook
            </a>
        </div>
    </div>
</form>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</body>
</html>
